* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif; 
}

.navbar {
  font-size: 18px;
  background-color: lightblue;
  border: 1px solid rgb(220, 220, 220);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
}

.nav-links, .logo {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.main-nav li i {
  padding-right: 10px;
}

.logo {
  display: inline-block;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 20px;
}

.search i {
    position: absolute;
    top: 65px;
    padding: 0px 20px;
  }

.input-field {
  padding: 5px;
  text-align: center;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.main-nav {
  display: none;
  list-style-type: none;
}

.active {
  display: block;
}

@media screen and (min-width: 760px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 60px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: auto;
    margin-left: auto;
  }

  .main-nav li {
    margin-right: 10px;
    font-size: 24px;
  }

  .main-nav li span.word {
    display: none;
  }

  .logo {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
  }

  form {
    display: flex;
  }

  .search i {
    position: absolute;
    top: 20px;
    cursor: pointer;
  }

  .input-field {
    padding: 5px;
    text-align: center;
    margin-right: 200px;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover, .nav-links:hover {
    color: rgba(rgba(255, 255, 255, 1);
  }
}

